
<!-- banner-v2 -->

<div class="banner-v2">
  <div class="banner-img">
    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgfeowsatlj30xc0kodi7.jpg" />
  </div>
  <div class="banner-detail">
    <!-- <h2 class="banner-logo ">
      banke
    </h2> -->
    <div  class="banner-slogan">
      <h2>
        <span style="color:#E6442B" > S</span><span style="color:#2F9833" >H</span><span style="color:#FBBC05" >O</span><span style="color:#0000FF" >W </span>出你的<span class="sub-slogan " style="color:#4A00B6" >格<span class="sub-slogan " style="color:#96FD05" >调</span>
      </h2>
    </div>
    <div class="sign-up-button">
        <a class="btn btn-default" href="/products"><i class="fa fa-search"  style="color:#4166F5"></i> 懂你的<span style="color:#FE0000" >好</span></i></a>
    </div>
  </div>
</div>


<!-- end of banner-v2 -->
<!-- our service and -->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>美好的选择show给有格调的你</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fgg0gqv5h6j30t20lmwri.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>玩<i class="fa fa-gamepad" style="color:#FE0000"></i>物尚智</h4><br/>
          <p>触摸最新科技</p>
          <p>纵享横生妙趣</p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="http://img04.taobaocdn.com/bao/uploaded/i4/TB1HTkBGVXXXXXLXpXXXXXXXXXX_!!0-item_pic.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>美<i class="fa fa-star" style="color:#FE0000"></i>不方物</h4><br />
          <p>我们负责把美汇集呈现</p>
          <p>任君畅游不可方物之美境</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="http://68.media.tumblr.com/b61f7a1366b34dae19d7bf8d3df9b22a/tumblr_mkwthmP0Qf1r0i205o3_1280.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>润<i class="fa fa-heart" style="color:#FE0000" ></i>物有型</h4><br />
          <p>于无声处动人</p>
          <p>润物无声，泽人有型</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end of our service -->

<!--===== 推荐商品 =====-->
   <section class="show-box">
     <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <h2>BiG SHoW</h2> <!-- 副标题 -->
         <div class="short-line"></div> <!-- 分隔线 -->
         <div class="row">
           <div class="col-md-3">
             <%= link_to '/products/8' do %> <!-- 商品连结 -->
        <div class="box"><%= image_tag("https://ws1.sinaimg.cn/large/006tNc79gy1fg4vyalqa9j30xc0kodif.jpg") %></div> <!-- 商品图片 -->
               <div class="content">
                 <p>耳机</p> <!-- 商品名称 -->
                 <p>$1999</p> <!-- 商品价格 -->
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to '/products/7' do %>
            <div class="box"><%= image_tag("https://ws3.sinaimg.cn/large/006tNc79gy1fgeqt78w67j30k00dcgm6.jpg") %></div>
               <div class="content">
                 <p>无人机</p>
                 <p>19999</p>
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to '/products/6' do %>
            <div class="box"><%= image_tag("https://ws4.sinaimg.cn/large/006tNc79gy1fgequcg2yvj30oo0ok1a9.jpg") %></div>
               <div class="content">
                 <p>手环</p>
                 <p>$100</p>
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to '/products/9' do %>
          <div class="box"><%= image_tag("https://ws4.sinaimg.cn/large/006tNc79gy1fgequoth7ij30ev0cd0xb.jpg") %></div>
               <div class="content">
                 <p>蓝牙音箱</p>
                 <p>$350</p>
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to 'products/10' do %>
          <div class="box"><%= image_tag("https://ws4.sinaimg.cn/large/006tNbRwgy1fgeqw6gtgaj30m80goq69.jpg") %></div>
               <div class="content">
                 <p>HHKB</p>
                 <p>$1699</p>
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to 'products/12' do %>
          <div class="box"><%= image_tag("https://ws1.sinaimg.cn/large/006tNbRwgy1fgeqwhec1nj30zk0uyjts.jpg") %></div>
               <div class="content">
                 <p>气流倍增器</p>
                 <p>$299</p>
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to '/products/13' do %>
            <div class="box"><%= image_tag("https://ws4.sinaimg.cn/large/006tNbRwgy1fgeqwrnn2aj31kw1dddsl.jpg") %></div>
               <div class="content">
                 <p>扫地机器人</p>
                 <p>$1999</p>
               </div>
             <% end %>
           </div>
           <div class="col-md-3">
             <%= link_to '/products/17' do %>
          <div class="box"><%= image_tag("https://ws4.sinaimg.cn/large/006tNbRwgy1fgeqwzqoj5j30m80m8go8.jpg") %></div>
               <div class="content">
                 <p>55度杯</p>
                 <p>$259</p>
               </div>
             <% end %>
           </div>

         </div>
       </div>
     </div>
   </section>
   <!--===== 推荐商品 =====-->


<!-- customer feedback -->

<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>有格调的人说</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ws2.sinaimg.cn/large/006tNbRwgy1fge99zpi8bj31kw11xq95.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            只从买了55度杯子<br>
            再也不怕开水烫了<br>
            喝水真得变成了一种享受～<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客小杯
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ws4.sinaimg.cn/large/006tNc79gy1fge987lgbaj31kw11xu0x.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            自从买了无人机<br>
            带给我的航拍体验<br>
            感受到了科技带来的乐趣~<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客托尼
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="https://ws1.sinaimg.cn/large/006tNbRwgy1fge9a0te0pj31kw11xe81.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            有了扫地机器人<br>
          再也不用在扫地了<br>
            可以把时间用在美好的事情上~<br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 顾客丽娜
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- end of customer feedback -->

<!-- call-to-action -->
<div id="call-to-action" class="row">
<section class="push-box">
    <a class="btn btn-push" href="/products">提升逼格</a>
  </section>
</div>

<!-- <div id="call-to-action">
  <div class="bottom-content">

    <div>
      <a class="btn btn-danger btn-lg" href="/products">马上购买 <i class='fa fa-arrow-right'></i></a>
    </div>
  </div>
</div> -->
<!-- end of call-to-action -->
